
 <mat-toolbar color="primary" class="sticky-toolbar">
	<mat-toolbar-row>
		<button mat-button [routerLink]="['/']">
			[-Home-]
		</button>
		<button mat-button [routerLink]="['/project']" routerLinkActive="active-stroked-button">
			Projects
		</button>
		<button mat-button [routerLink]="['/certificate']" routerLinkActive="active-stroked-button">
			Certificates
		</button>
		<button mat-button [routerLink]="['/post']" routerLinkActive="active-stroked-button">
			Posts
		</button>
	</mat-toolbar-row>
</mat-toolbar>


 
