<mat-toolbar color="primary">
    <mat-toolbar-row>
		<button mat-raised-button [routerLink]="['/']">
    		[-Home-]
		</button>
		<button mat-button [routerLink]="['/project']" routerLinkActive="active-stroked-button">
    		Project
		</button>
		<button mat-button [routerLink]="['/certificate']" routerLinkActive="active-stroked-button">
    		Certificate
		</button>
		<button mat-button [routerLink]="['/post']" routerLinkActive="active-stroked-button">
    		Post
		</button>
    </mat-toolbar-row>
</mat-toolbar>
